<template>
<div class="col-lg-4">
	<div class="card mb-2 text-start shadow-sm">
	<div class="card-body">
		<h5 class="card-title">{{user_data.username}}</h5>
		<h6 class="card-subtitle mb-2 text-muted">{{user_data.id}}</h6>
		<p>Email:<a href="#">{{user_data.email}}</a></p>
		<div class="address">
			<h1>Address</h1>
			<p>Street: {{user_data.address.street}}</p>
			<p>Suite: {{user_data.address.suite}}</p>
			<p>City: {{user_data.address.city}}</p>
			<p>Zipcode: {{user_data.address.zipcode}}</p>
		</div>
		<p>Phone: {{user_data.phone}}</p>
		<p>Website:<a href="#">{{user_data.website}}</a></p>
		<div class="company">
			<h1>Company</h1>
			<p>Name: {{user_data.company.name}}</p>
			<p>CatchPhrase: {{user_data.company.catchPhrase}}</p>
			<p>Bs: {{user_data.company.bs}}</p>
		</div>
	</div>
	</div>
</div>

</template>

<script>
export default {
	name: 'Card',
	props: {
		user_data: {
			type: Object,
			default() {
				return {}
			}
		}
	}
}
</script>

<style scoped>
/* .card{
	border: 1px solid rgba(0, 0, 0, 0.225);
} */
.address{
	border: 1px solid rgba(0, 0, 0, 0.125);
	margin-bottom: 1rem ;
}
.address h1{
	font-size: 20px;
	color: black;
	margin-left: 5px;
	text-align: center;
}
.address p{
	margin-bottom: 3px;
	margin-left: 5px;
}
.company{
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.company h1{
	font-size: 20px;
	color: black;
	margin-left: 5px;
	text-align: center;
}
.company p{
	margin-bottom: 3px;
	margin-left: 5px;
}
</style>