<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
        <ul class="navbar-nav navi">
          <li class="nav-item flex-grow-1 mt-2 mt-lg-0">
            <form class="d-flex">
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </li>
          <li class="nav-item me-0 me-lg-2 mb-2 mb-lg-0">
            <select class="form-select navi_select" aria-label="Default select example">
              <option value="1">Username</option>
              <option value="2">Company</option>
            </select>
          </li>
          <li class="nav-item me-0 me-lg-2 mb-2 mb-lg-0">
            <button type="button" class="btn btn-success">Search</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger">Cancel</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navigation",
};
</script>

<style>
.navi{
    width: 100% ;
}
.form-select.navi_select{
    background-color: rgba(194, 194, 194, 0.445);
    border: 1px solid rgba(0, 0, 0, 0.11);
}
</style>