<template>
<Navigation />

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto searchbar">
				<li class="nav-item me-lg-2 mt-2 mt-lg-0 flex-grow-1">
					<form class="d-flex">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Filter
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#">Username</a></li>
								<li><a class="dropdown-item" href="#">Company</a></li>
							</ul>
						</div>
					</form>
				</li>
				<li class="nav-item me-lg-2 mt-2 mt-lg-0">
					<button type="button" class="btn btn-success">Search</button>
				</li>
				<li class="nav-item me-lg-2 mt-2 mt-lg-0">
					<button type="button" class="btn btn-danger">Clear</button>
				</li>
			</ul>
		</div>
	</div>
</nav> -->

<div class="container mt-2">
	<div class="row">
		<Card 
			v-for="user in USERS"
			:key="user.id"
			:user_data="user"
		/>
	</div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light footer">
	<div class="container justify-content-center">
		<h1>This is Footer! :)</h1>
	</div>
</nav>

</template>

<script>
import Card from './components/Card.vue'
import Navigation from './components/navigation.vue'
import { mapGetters } from 'vuex'

export default {
	name: 'App',
	components: {
		Card,
		Navigation
	},
	computed: {
		...mapGetters([
			'USERS'
		]),
	},
	mounted() {
		this.$store.dispatch('GET_USERS_FROM_API');
	}
}

</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #5e96ce;
	padding-bottom: 80px;
}
.btn-success{
	width: 100%;
}
.btn-danger{
	width: 100%;
}
.footer{
	border: 1px solid #000;
}
</style>
